{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI For SME Medical Insurance",
    "description": "API's that you need to use to request insurance(s) for your clients",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://production.yasmina.ai/api/v1/medical"
    },
    {
      "url": "https://sandbox.yasmina.ai/api/v1/medical"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/companies": {
      "post": {
        "description": "You need to create a company record before requesting medical insurance to the employees of the company",
        "summary": "Create company",
        "tags": ["Company"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the company"
                  },
                  "name_ar": {
                    "type": "string",
                    "description": "Arabic name of the company"
                  },
                  "sponsor_number": {
                    "type": "string",
                    "description": "Sponsor number (exactly 10 digits)",
                    "pattern": "^[0-9]{10}$",
                    "example": "1000000001"
                  },
                  "unified_national_number": {
                    "type": "string",
                    "description": "Unified national number of the company",
                    "example": "7000000001"
                  },
                  "email_address": {
                    "type": "string",
                    "description": "Email address"
                  },
                  "phone_number": {
                    "type": "string",
                    "description": "Phone number"
                  },
                  "commercial_registration_number": {
                    "type": "string",
                    "description": "The commercial registration number of the company (exactly 10 digits, starting with 7)",
                    "pattern": "^7[0-9]{9}$",
                    "example": "7000000002"
                  }
                },
                "required": [
                  "name",
                  "name_ar",
                  "sponsor_number",
                  "unified_national_number",
                  "email_address",
                  "phone_number",
                  "commercial_registration_number"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company created",
            "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Company"
                  }
                }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Problem in the values that you submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "42201"
                    },
                    "message": {
                      "type": "string",
                      "example": "The email address must be a valid email address. (and 1 more error)"
                    },
                    "details": {
                      "type": "object",
                      "example": {
                        "email_address": [
                          "The email address must be a valid email address."
                        ],
                        "commercial_registration_number": [
                          "The commercial registration number field cannot be empty."
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "To list all the companies that you've created",
        "summary": "List companies",
        "tags": ["Company"],
        "responses": {
          "200": {
            "description": "A list of companies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Company"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/companies/{companyId}/policy-cancellation": {
      "post": {
        "description": "Cancel a policy for a company",
        "summary": "Cancel policy",
        "tags": ["Company"],
        "parameters": [
          {
            "required": true,
            "name": "companyId",
            "in": "path",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Canceled successfully"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/companies/{companyId}/employees": {
      "get": {
        "summary": "List the employees",
        "description": "The company's employee list as last saved.",
        "tags": ["Employees"],
        "parameters": [
          { "name": "companyId", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "The employees",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "employees": { "type": "array", "items": { "$ref": "#/components/schemas/Insured" } }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "put": {
        "summary": "Save the employees",
        "description": "Replaces the company's employee list with the one given: who is covered, their dependents, and the tier each has picked (`basic`, `standard`, `premium` or `executive`). Nothing is priced here; see Get prices from every provider.",
        "tags": ["Employees"],
        "parameters": [
          { "name": "companyId", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["employees"],
                "properties": {
                  "employees": {
                    "type": "array",
                    "minItems": 1,
                    "items": { "$ref": "#/components/schemas/Insured" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "The saved list" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/quote-requests": {
      "post": {
        "summary": "Get prices from every provider",
        "description": "Prices the company's saved employees, at the tiers they picked, with every insurance provider at once. One response, one quote per provider, each with its own `quote_price_id`. The response `id` is the `quote_request_id`. A quote prices the employees as they stood when it was asked for.",
        "tags": ["Quotes"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["company_id"],
                "properties": {
                  "company_id": { "type": "integer" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The quotes",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/QuoteRequest" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/quote-requests/{quoteRequestId}": {
      "get": {
        "summary": "Read a quote request",
        "tags": ["Quotes"],
        "parameters": [
          { "name": "quoteRequestId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "The quote request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/QuoteRequest" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/policies": {
      "post": {
        "summary": "Issue the policy",
        "description": "Issues the company's policy from one of the quotes it was given: the employees as they were priced, the provider that priced them, and its total as the premium. A company has one policy waiting to be paid for at a time; issuing again before payment replaces it.",
        "tags": ["Policies"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["quote_request_id", "quote_price_id"],
                "properties": {
                  "quote_request_id": { "type": "string", "format": "uuid", "description": "The `id` of the quote request." },
                  "quote_price_id": { "type": "string", "format": "uuid", "description": "The `quote_price_id` of the chosen provider's quote." },
                  "redirect_url": {
                    "type": "string",
                    "description": "Where to send the customer once they have paid. `policyID` in it is replaced with the policy's id.",
                    "example": "https://www.example.com?yasmina_policy_id=policyID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The company's policy, pending payment",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MedicalPolicy" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      },
      "get": {
        "description": "List policies that you've requested",
        "summary": "List policies",
        "tags": ["Policies"],
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Policy"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }

    },
    "/products/categories": {
      "get": {
        "tags": ["Products"],
        "summary": "List categories",
        "description": "Each category carries a `price`, the yearly premium per person, which is what the payment flow charges. The medical insurance packages one insurance provider offers. Call it once per provider to compare them. Each item in `categories` carries the `category` and `insurance_provider` values to send when issuing policies.",
        "parameters": [
          {
            "name": "insurance_provider",
            "in": "query",
            "required": false,
            "description": "Which provider's packages to list. Defaults to `medgulf`.",
            "schema": {
              "type": "string",
              "enum": [
                "medgulf",
                "walaa",
                "alrajhi",
                "tawuniya",
                "malath"
              ],
              "default": "medgulf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The provider's packages, keyed by category"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/medical-forms/download": {
      "get": {
        "summary": "Download the declaration form",
        "description": "The health declaration as a printable PDF, so a company can hand it to the employees who have to fill it in. Pass a `policy_id` and the file carries one page per employee on that policy, with their name, id and package already filled in; leave it out for a single blank form.",
        "tags": [
          "Medical Forms"
        ],
        "parameters": [
          {
            "name": "policy_id",
            "in": "query",
            "required": false,
            "description": "Produce a page per employee on this policy.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The form, as a PDF attachment",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/medical-forms": {
      "get": {
        "summary": "Get the Medical form questions",
        "description": "This is for showing the required medical questions and presenting it to employees",
        "tags": ["Medical Forms"],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example":{
                    "general_health_information": {
                      "allergies": {
                        "question": "Do you have any known allergies?",
                        "choices": [
                          "Yes",
                          "No"
                        ]
                      },
                      "current_medications": {
                        "question": "Are you currently taking any medications?",
                        "choices": [
                          "Yes",
                          "No"
                        ]
                      },
                      "hospitalizations": {
                        "question": "Have you been hospitalized in the last 5 years?",
                        "choices": [
                          "Yes",
                          "No"
                        ]
                      },
                      "pre_existing_conditions": {
                        "question": "Do you have any pre-existing medical conditions?",
                        "choices": [
                          "Yes",
                          "No"
                        ]
                      }
                    },
                    "surgical_history": {
                      "past_surgeries": {
                        "question": "Have you ever had surgery?",
                        "choices": [
                          "Yes",
                          "No"
                        ]
                      },
                      "surgery_complications": {
                        "question": "Have you had any complications related to surgeries?",
                        "choices": [
                          "Yes",
                          "No"
                        ]
                      }
                    },
                    "cardiovascular_health": {
                      "conditions": {
                        "question": "Have you ever been diagnosed with any of the following conditions?",
                        "options": [
                          "High Blood Pressure",
                          "Heart Disease",
                          "Stroke",
                          "None of the above"
                        ]
                      },
                      "chest_pain_or_breathlessness": {
                        "question": "Do you experience chest pain or shortness of breath?",
                        "choices": [
                          "Yes",
                          "No"
                        ]
                      },
                      "heart_procedures": {
                        "question": "Have you undergone any heart-related treatments or procedures (e.g., angioplasty, bypass surgery)?",
                        "choices": [
                          "Yes",
                          "No"
                        ]
                      }
                    },
                    "chronic_conditions": {
                      "diagnoses": {
                        "question": "Have you been diagnosed with any of the following?",
                        "options": [
                          "Diabetes",
                          "Asthma",
                          "Chronic Kidney Disease",
                          "Liver Disease",
                          "Cancer",
                          "None of the above"
                        ]
                      }
                    },
                    "lifestyle_and_habits": {
                      "smoking": {
                        "question": "Do you smoke or use tobacco products?",
                        "choices": [
                          "Yes",
                          "No"
                        ]
                      },
                      "alcohol_consumption": {
                        "question": "Do you consume alcohol?",
                        "choices": [
                          "Yes",
                          "No"
                        ]
                      },
                      "physical_activity": {
                        "question": "Do you engage in regular physical activity?",
                        "choices": [
                          "Yes",
                          "No"
                        ]
                      },
                      "family_history": {
                        "question": "Do you have a family history of any major medical conditions (e.g., heart disease, diabetes, cancer)?",
                        "choices": [
                          "Yes",
                          "No"
                        ]
                      }
                    },
                    "additional_information": {
                      "other_medical_info": {
                        "question": "Is there any other medical information that you believe we should be aware of?",
                        "choices": [
                          "Yes",
                          "No"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/policies/{policyId}": {
      "get": {
        "summary": "Read the policy",
        "description": "One policy, with everything needed to take payment: its `price`, `pending_declarations` naming anyone who still has to declare, and `payment_link` once nobody does. The link is short, the same on every read, valid 24 hours, and null while the policy cannot be paid for or once it is issued.",
        "tags": ["Policies"],
        "parameters": [
          { "name": "policyId", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": {
            "description": "The policy",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MedicalPolicy" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/policies/{policyId}/declarations": {
      "post": {
        "summary": "Fill the declarations",
        "description": "A company admin answers the health declaration on the employees' behalf. `all_employees` is the default set of answers; `ids_or_emails` overrides them for the employees whose history differs. The answers are stored on the members of the policy, and its `payment_link` appears once nobody is left in `pending_declarations`.",
        "tags": ["Medical Forms"],
        "parameters": [
          { "name": "policyId", "in": "path", "required": true, "schema": { "type": "integer" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["all_employees"],
                "properties": {
                  "all_employees": { "$ref": "#/components/schemas/DeclarationAnswers" },
                  "ids_or_emails": {
                    "type": "array",
                    "description": "Employees whose answers differ from all_employees, named by nationality_id or iqama_id.",
                    "items": {
                      "type": "object",
                      "required": ["id_or_email", "answers"],
                      "properties": {
                        "id_or_email": { "type": "string", "example": "1111111111" },
                        "answers": { "$ref": "#/components/schemas/DeclarationAnswers" }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The policy, with its declarations recorded",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MedicalPolicy" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/policies/{policyId}/deletion": {
      "post": {
        "summary": "Delete policy",
        "tags": ["Policies"],
        "description": "Delete a policy. Important if for example someone resigns",
        "parameters": [
          {
            "name": "policyId",
            "required": true,
            "description": "The id field returned from policies API's",
            "in": "path",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "cancellation_document": {
                    "type": "string",
                    "description": "Supporting document of why policy was deleted. Could be resignation document.",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Deleted successfully"
          },
          "403": {
            "description": "This client may not delete the policy",
            "content": {
              "application/json": {
                "example": {
                  "code": "40301",
                  "message": "Unauthorized"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "40301"
                    },
                    "message": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/policies/{policyId}/claims": {
      "post": {
        "tags": ["Claims"],
        "parameters": [
          {
            "in": "path",
            "name": "policyId",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "summary": "Issue claim",
        "description": "Issue a claim to your policy",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string"
                    },
                    "requested_amount": {
                      "type": "string"
                    },
                    "claim_status": {
                      "type": "integer"
                    },
                    "policy_id": {
                      "type": "integer"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "supporting_document": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "requested_amount": {
                    "type": "number",
                    "description": "Value in SAR",
                    "example": 1000
                  },
                  "description": {
                    "description": "All details about what happened",
                    "example": "",
                    "type": "string"
                  },
                  "supporting_document": {
                    "format": "binary",
                    "type": "string",
                    "description": "Could be used for uploading the invoice",
                    "example": ""
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "NotFound": {
        "description": "Record not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "example": "40401"
                },
                "message": {
                  "type": "string",
                  "example": "Not found"
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "example": "40101"
                },
                "message": {
                  "type": "string",
                  "example": "Unauthenticated"
                }
              }
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Unprocessable Entity",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "MedicalFormAnswers": {
        "type": "object",
        "required": [
          "allergies",
          "current_medications",
          "hospitalizations",
          "pre_existing_conditions",
          "past_surgeries",
          "surgery_complications",
          "chest_pain_or_breathlessness",
          "heart_procedures",
          "smoking",
          "alcohol_consumption",
          "physical_activity",
          "family_history"
        ],
        "properties": {
          "allergies": {
            "type": "string",
            "enum": [
              "Yes",
              "No"
            ]
          },
          "current_medications": {
            "type": "string",
            "enum": [
              "Yes",
              "No"
            ]
          },
          "hospitalizations": {
            "type": "string",
            "enum": [
              "Yes",
              "No"
            ]
          },
          "pre_existing_conditions": {
            "type": "string",
            "enum": [
              "Yes",
              "No"
            ]
          },
          "past_surgeries": {
            "type": "string",
            "enum": [
              "Yes",
              "No"
            ]
          },
          "surgery_complications": {
            "type": "string",
            "enum": [
              "Yes",
              "No"
            ]
          },
          "chest_pain_or_breathlessness": {
            "type": "string",
            "enum": [
              "Yes",
              "No"
            ]
          },
          "heart_procedures": {
            "type": "string",
            "enum": [
              "Yes",
              "No"
            ]
          },
          "smoking": {
            "type": "string",
            "enum": [
              "Yes",
              "No"
            ]
          },
          "alcohol_consumption": {
            "type": "string",
            "enum": [
              "Yes",
              "No"
            ]
          },
          "physical_activity": {
            "type": "string",
            "enum": [
              "Yes",
              "No"
            ]
          },
          "family_history": {
            "type": "string",
            "enum": [
              "Yes",
              "No"
            ]
          },
          "chronic_disease": {
            "type": "array",
            "description": "Optional. Chronic conditions the employee has.",
            "items": {
              "type": "string",
              "enum": [
                "Diabetes",
                "Asthma",
                "Chronic Kidney Disease",
                "Liver Disease",
                "Cancer",
                "None of the above"
              ]
            }
          }
        }
      },
      "Dependent": {
        "type": "object",
        "required": [
          "name",
          "relationship",
          "nationality_iso",
          "date_of_birth"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "relationship": {
            "type": "string",
            "enum": [
              "spouse",
              "child",
              "parent"
            ],
            "description": "How the dependent is related to the employee"
          },
          "nationality_iso": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code"
          },
          "nationality_id": {
            "type": "string",
            "description": "Required when nationality_iso is SA. Exactly 10 digits.",
            "pattern": "^[0-9]{10}$",
            "example": "1111111112"
          },
          "iqama_id": {
            "type": "string",
            "description": "Required when nationality_iso is not SA. Exactly 10 digits.",
            "pattern": "^[0-9]{10}$",
            "example": "2222222222"
          },
          "date_of_birth": {
            "type": "string",
            "description": "Format YYYY-MM-DD. Saudi nationals whose national id starts with 1 give the Hijri (Umm al-Qura) date printed on their id, for example 1409-09-14; everyone else gives a Gregorian date. A dependent can be any age up to 110."
          }
        }
      },
      "MedicalPolicy": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "status": { "type": "integer", "description": "0 pending payment, 1 active, 2 cancelled." },
          "price": { "type": "number", "description": "The premium for everyone on the policy, for a year." },
          "pending_declarations": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Employees who still have to declare their medical history. Empty once everyone has."
          },
          "payment_link": {
            "type": "string",
            "nullable": true,
            "description": "Where the company pays: a short link to Yasmina's card page, fit to send in a message. The same link on every read, valid 24 hours and replaced as it nears expiry. Null while anyone is in pending_declarations, and once the policy is issued."
          },
          "provider_policy_id": { "type": "string", "nullable": true, "description": "The insurer's policy number, once issued." },
          "policy_url": { "type": "string", "nullable": true, "description": "The policy schedule, once issued." },
          "redirect_url": { "type": "string", "nullable": true },
          "meta_data": {
            "type": "object",
            "properties": {
              "company_id": { "type": "integer" },
              "insurance_provider": { "type": "string" },
              "quote_request_id": { "type": "string", "format": "uuid" },
              "quote_price_id": { "type": "string", "format": "uuid" },
              "insured": { "type": "array", "items": { "$ref": "#/components/schemas/Insured" } }
            }
          }
        }
      },
      "DeclarationAnswers": {
        "type": "object",
        "description": "Yes or No for each question, and the list of chronic diseases.",
        "properties": {
          "allergies": { "type": "string", "enum": ["Yes", "No"] },
          "current_medications": { "type": "string", "enum": ["Yes", "No"] },
          "hospitalizations": { "type": "string", "enum": ["Yes", "No"] },
          "pre_existing_conditions": { "type": "string", "enum": ["Yes", "No"] },
          "past_surgeries": { "type": "string", "enum": ["Yes", "No"] },
          "surgery_complications": { "type": "string", "enum": ["Yes", "No"] },
          "chest_pain_or_breathlessness": { "type": "string", "enum": ["Yes", "No"] },
          "heart_procedures": { "type": "string", "enum": ["Yes", "No"] },
          "smoking": { "type": "string", "enum": ["Yes", "No"] },
          "alcohol_consumption": { "type": "string", "enum": ["Yes", "No"] },
          "physical_activity": { "type": "string", "enum": ["Yes", "No"] },
          "family_history": { "type": "string", "enum": ["Yes", "No"] },
          "chronic_disease": {
            "type": "array",
            "items": { "type": "string", "enum": ["Diabetes", "Asthma", "Chronic Kidney Disease", "Liver Disease", "Cancer", "None of the above"] }
          }
        }
      },
      "QuoteRequest": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid", "description": "The quote_request_id." },
          "company_id": { "type": "integer" },
          "employees": { "type": "array", "items": { "$ref": "#/components/schemas/Insured" } },
          "quotes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "quote_price_id": { "type": "string", "format": "uuid" },
                "insurance_provider": { "type": "string" },
                "insurance_provider_name": { "type": "string" },
                "total_price": { "type": "number", "description": "What the company pays for a year of cover with this provider." },
                "currency": { "type": "string", "example": "SAR" },
                "employees": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string" },
                      "identifier": { "type": "string" },
                      "category": { "type": "string" },
                      "dependents": { "type": "integer" },
                      "price": { "type": "number" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Insured": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "nationality_iso": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "enum": ["basic", "standard", "premium", "executive"],
            "description": "The tier this employee picked. Every provider sells all four, so the quote request can price it with each of them."
          },
          "nationality_id": {
            "type": "string",
            "description": "For Saudis. Exactly 10 digits.",
            "pattern": "^[0-9]{10}$",
            "example": "1111111111"
          },
          "iqama_id": {
            "type": "string",
            "description": "For non-Saudis. Exactly 10 digits.",
            "pattern": "^[0-9]{10}$",
            "example": "2222222222"
          },
          "mobile_number": {
            "type": "string",
            "description": "The employee's mobile number.",
            "example": "0500000001"
          },
          "dependents": {
            "type": "array",
            "description": "Family members covered under this employee's policy. They get the same provider and category as the employee. Optional; omit or send an empty array for an employee without dependents.",
            "items": {
              "$ref": "#/components/schemas/Dependent"
            }
          },
          "date_of_birth": {
            "type": "string",
            "description": "Format YYYY-MM-DD. Saudi nationals whose national id starts with 1 give the Hijri (Umm al-Qura) date printed on their id, for example 1409-09-14; everyone else gives a Gregorian date. Employees must be between 18 and 110 years old."
          }
        },
        "required": [
          "name",
          "nationality_iso",
          "category",
          "mobile_number",
          "date_of_birth"
        ]
      },
      "Policy": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "meta_data": {
            "$ref": "#/components/schemas/Insured"
          },
          "start_date": {
            "type": "string"
          },
          "provider_policy_id": {
            "type": "integer"
          },
          "provider_policy": {
            "type": "string"
          },
          "order_status": {
            "type": "integer"
          },
          "approval_status": {
            "type": "integer"
          },
          "end_date": {
            "type": "string"
          },
          "is_claimed": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "client_id": {
            "type": "string"
          },
          "canceled_at": {
            "type": "string",
            "nullable": true
          },
          "invoice": {
            "type": "string"
          },
          "cancellation_document": {
            "type": "string"
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "name_ar": {
            "type": "string"
          },
          "sponsor_number": {
            "type": "string"
          },
          "unified_national_number": {
            "type": "string"
          },
          "email_address": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "commercial_registration_number": {
            "type": "string"
          },
          "client_id": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          }
        },
        "example": {
          "name": "Example company name",
          "name_ar": "مثال اسم شركة",
          "sponsor_number": "1000000001",
          "unified_national_number": "7000000001",
          "email_address": "example@example.com",
          "phone_number": "+966512345678",
          "commercial_registration_number": "7000000002",
          "client_id": "a1b2c3d4-5678-90ab-cdef-1234567890ab",
          "updated_at": "2025-08-01T14:22:30.000000Z",
          "created_at": "2025-08-01T14:22:30.000000Z",
          "id": 42
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}